*.err
*.log
.env
node_modules/
*.csv
docs/
dl/
*.ipynb
vishvasnews*
*1.py
*2.py
*3.py
.env_template
__pycache__/
cron_scraper_orig.py
dls/
docs_I_sent_to_denny_131119
factly_links
files_on_s3_to_delete
files_uploaded_to_portal_already
india_today_links
package.json
quint_links
tmp.txt
